<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated class2 -->
      <package
            uri="http://www.example.org/class2"
            class="class2.Class2Package"
            genModel="model/class2.genmodel"/>
   </extension>

</plugin>
